# general
.DS_Store
Thumbs.db

# node / next
node_modules/
.next/
out/
build/
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*

# vercel
.vercel/

# typescript
*.tsbuildinfo
next-env.d.ts

# python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# tooling
.vscode/
.idea/
